@media only screen and (max-width:600px) {

#project{
    padding: 30px;
}

.parent-project{
    flex-direction: column;
}
    
.project-heading h5{
    text-align: center;

}
.project-heading h2{
    text-align: center;
} 
.child-project2 h2{
    text-align: center;
}

/* .footer{} */

.parent-footer{
    flex-direction: column;
    align-items: center;

}

   
}